
<div ng-include="navbarPartial.url"></div>

<div id="cv">
  <div class="container-fluid">
    <div class="row intro">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <h1>ichizo umehara</h1>
        <div style="text-align:center;">Full-stack Ruby on Rails Developer, New York</div>
        <div style="text-align: center;">
          <span ng-repeat="icon in data.cvs.icons">
            <img src="{{icon.url}}" style="height:50px;" class="service-icons" data-toggle="tooltip" data-placement="bottom" title="{{icon.desc}}">
            <script type="text/javascript">
              $('.service-icons').tooltip();
            </script>
          </span>
        </div>
        <div>
          I'm a full-stack Ruby on Rails developer.  On the front-end, I have developed production services using standard static-page Rails apps, as well as single-page apps using AngularJS and native Javascript.  On the back-end I have worked with both SQL (Postgres/ActiveRecord) and NOSQL (JSON APIs/Firebase) databases.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1 experiences">
        <h2>Experience</h2>

        <div ng-repeat="experience in data.cvs.experience" class="row">
          <div class="col-sm-12 group-box">
            <div class="row">
              <div class="title">
                  <div>{{experience.title}}</div>
                  <div class="name">
                    <h4>
                      <a href="{{experience.url}}" target="_blank">{{experience.name}}</a>
                    </h4>
                    <a ng-hide="{{!experience.github}}" href="{{experience.github}}" target="_blank" class="btn btn-default">Git Hub</a>
                  </div>
              </div>
            </div>

            <div class="row description">
              <div class="col-sm-12 col-md-5 col-lg-3">
                <img src="{{experience.screenshot}}" class="screenshot" style="width:100%;">
              </div>
              <div class="content col-sm-12 col-md-7 col-sm-9">
          			<div>{{experience.contents.intro}}</div>
                <ul>
                  <li ng-repeat="point in experience.contents.bullets">
                    {{point}}
                  </li>
                </ul>
              </div>
            </div>

            <div ng-hide="{{experience.languages == null}}" class="row tags-section">
              <span class="title">Languages</span>
              <span class="tags">
                <span ng-repeat="language in experience.languages">
                  <div class="label {{language.type}}">{{language.name}}</div>
                </span>
              </span>
            </div>

            <div ng-hide="{{experience.frameworks == null}}" class="row tags-section">
              <span class="title">Frameworks</span>
              <span class="tags">
                <span ng-repeat="framework in experience.frameworks">
                  <div class="label {{framework.type}}">{{framework.name}}</div>
                </span>
              </span>
            </div>

            <div ng-hide="{{experience.services == null}}" class="row tags-section">
              <span class="title">Services</span>
              <span class="tags">
                <span ng-repeat="service in experience.services">
                  <div class="label {{service.type}}">{{service.name}}</div>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <h2>Education</h2>
        <div ng-repeat="education in data.cvs.education" class="row">

          <div class="col-sm-12 group-box">
            <div>{{education.degree}}</div>
            <img src="{{education.logo}}">
            <div>{{education.details}}</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1 about">
        <h2>About this page</h2>
        <div>
          <div>
            This page is an AngularJS on Rails app hosted on Heroku. I'm currently hosting static JSON data in the asset pipeline, but plan to move it out to a Firebase database. Source code for this page is available at my
            <a href="https://www.github.com/iumehara/sample-homepage">GitHub account</a>.
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row signature">
      <div>2014 ichizo umehara</div>
    </div>
  </div>
</footer>


<div ng-include="feedbackForm.url"></div>