#cv {
	margin-top: -20px;
	h1 {
		text-align: center;
	}
	.intro {
		padding: 50px;
	}
	.language {
		margin: 5px;
		float: left;
	}
	.title {
		margin: 0;
	}
	.description {
		margin: 0;
		.row {
			margin: 0;
		}
		.content {
			margin: 0;
			padding: 10px;
		}
	}
	.group-box {
		margin-bottom: 20px;
		padding: 50px;
		background-color: #F5F5F5;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.experiences {
		.services {
			margin-bottom: 50px;
		}
		.tags-section {
			margin: 0;
			padding: 0;
			.title {
				display: inline-block;
				padding: 4px;
				font-weight: bold;
				vertical-align: top;
			}
			.tags {
				display: inline-block;
				.label.ruby {
					background-color: #9c1524;
				}
				.label.js {
					background-color: #F0DB4F;
					color: black;
				}
				.label.pg {
					background-color: #306094;
				}
				.label.other {
					background-color: black;
				}
			}
		}
	}
}