<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Note on the 12/1/14 outage:</strong>
  <ul>
    <li>umehara.io and all associated email accounts were inaccessible for an extended period on Monday, Dec 1st, due to an extended DDOS attack on the site's DNS service provider, <a href="http://dnsimplestatus.com/" target="_blank">DNSimple</a>.
    </li>
    <li>Service is back up and running, and I have received some emails sent during the outage. If I don't get back to you today, please resend the emails.</li>
    <li>I will be adding a second DNS service to avoid this issue in the future.</li>
  </ul>
</div>
