<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">umehara.io</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="nav navbar-nav navbar-right" style="padding:10px">
          <a type="button" class="btn btn-default btn-md" href="https://github.com/iumehara" target="_blank">GitHub</a>
          <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
            Contact
          </button>
      </div>
    </div>
  </div>
</nav>